<aside class="user-sidebar">
  <div class="user-sidebar__avatar" aria-hidden="true">👤</div>
  <p class="user-sidebar__name" id="user-name">Kullanıcı</p>
  <ul class="user-nav">
    <li><a href="index.html" data-user-page="index">Dashboard</a></li>
    <li><a href="profil.html" data-user-page="profil">Profil</a></li>
    <li><a href="siparisler.html" data-user-page="siparisler">Siparişlerim</a></li>
    <li><a href="favoriler.html" data-user-page="favoriler">Favorilerim</a></li>
    <li><a href="adresler.html" data-user-page="adresler">Adreslerim</a></li>
    <li><a href="kuponlar.html" data-user-page="kuponlar">Kuponlarım</a></li>
    <li><a href="hesaplarim.html" data-user-page="hesaplarim">Hesabım</a></li>
  </ul>
</aside>
